@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  box-sizing: border-box;
  font-family: "Open Sans", "Roboto", "Yellowtail", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.36px;
  color: #525C60;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1420px;
  width: 100%;
  padding: 0 20px;
}

.section-title {
  font-family: "Yellowtail";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.8;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
  text-align: center;
}

.section-subtitle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  text-align: center;
}

.btn {
  background: #EFD372;
  border: 1px solid #EFD372;
  border-radius: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  line-height: 1.68;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  padding: 25px 30px;
  position: relative;
}
.btn:after {
  position: absolute;
  content: "";
  width: 38px;
  height: 34px;
  background-image: "../img/arrow.svg";
  background-position: center;
  background-repeat: no-repeat;
}

.organic {
  padding-top: 100px;
}

.icon {
  font-size: 14px;
  color: #ffa858;
}

.organic_title {
  margin-bottom: 42px;
}

.organic_container {
  max-width: 1380px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.card_container {
  display: flex;
  padding: 10px;
  width: 33.3333333333%;
}

.organic_cards {
  background-color: #F9F8F8;
  border-radius: 30px;
  padding: 30px;
}

.card_link {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  color: #ffffff;
  background-color: #274C5B;
  border: 8px;
  padding: 5px 20px;
}
.card_img {
  margin-bottom: 19px;
}
.card_text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin-bottom: 10px;
}
.card_bot {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d4d4d4;
  align-items: center;
}
.card_bot__text {
  display: flex;
}
.card_bot__white {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.9;
  letter-spacing: 0.36px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #B8B8B8;
}
.card_bot__blue {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.36px;
  color: #274C5B;
}
.card_bot__icons {
  display: flex;
}