@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  box-sizing: border-box;
  font-family: "Open Sans", "Roboto", "Yellowtail", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.36px;
  color: #525C60;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1420px;
  width: 100%;
  padding: 0 20px;
}

.section-title {
  font-family: "Yellowtail";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.8;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
  text-align: center;
}

.section-subtitle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  text-align: center;
}

.section-label {
  font-family: "Roboto";
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.36px;
  color: #274C5B;
}

.btn {
  background: #EFD372;
  border: 1px solid #EFD372;
  border-radius: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  line-height: 1.68;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  padding: 25px 30px;
  padding-right: 50px;
  position: relative;
  padding-right: 50px;
  transition: box-shadow 0.3s;
}
.btn:hover {
  box-shadow: 0 0 20px 2px rgba(39, 76, 91, 0.6);
}
.btn:after {
  position: absolute;
  content: "";
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background-color: #335B6B;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.organic {
  padding-top: 100px;
  padding-bottom: 140px;
}
@media screen and (max-width: 768px) {
  .organic {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.icon {
  font-size: 14px;
  color: #ffa858;
}

.organic_title {
  margin-bottom: 42px;
}
@media screen and (max-width: 768px) {
  .organic_title {
    margin-bottom: 25px;
  }
}

.organic_container {
  max-width: 1380px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.card_container {
  display: flex;
  padding: 10px;
  width: 33.3333333333%;
}
@media screen and (max-width: 768px) {
  .card_container {
    width: 50%;
  }
}
@media screen and (max-width: 568px) {
  .card_container {
    width: 100%;
  }
}

.organic_cards {
  background-color: #F9F8F8;
  border-radius: 30px;
  padding: 30px;
}

@media screen and (max-width: 992px) {
  .card {
    text-align: center;
  }
}
.card_link {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  color: #ffffff;
  background-color: #274C5B;
  border: 8px;
  padding: 5px 20px;
}
.card_img {
  margin-bottom: 19px;
}
.card_text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin-bottom: 10px;
}
.card_bot {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d4d4d4;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .card_bot {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .card_bot {
    padding-top: 10px;
  }
}
.card_bot__text {
  display: flex;
}
@media screen and (max-width: 992px) {
  .card_bot__text {
    display: block;
  }
}
.card_bot__white {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.9;
  letter-spacing: 0.36px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #B8B8B8;
}
.card_bot__blue {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.36px;
  color: #274C5B;
}
.card_bot__icons {
  display: flex;
}
@media screen and (max-width: 992px) {
  .card_bot__icons {
    display: block;
  }
}

.about-us__container {
  background-color: #F9F8F8;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 150px;
}
.about-us__row {
  display: flex;
  justify-content: center;
}
.about-us__item {
  flex: 1 1 50%;
}
.about-us__item h3 + p {
  margin-bottom: 56px;
}
.about-us__item ul {
  margin-bottom: 45px;
}
.about-us__img {
  width: 100%;
}
.about-us__subtitle {
  margin-bottom: 22px;
}
.about-us__standard {
  overflow: hidden;
  margin-bottom: 25px;
  padding-left: 150px;
  position: relative;
}
.about-us__standard:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../img/about-us/cup.png);
  background-repeat: no-repeat;
  left: 20px;
}
.about-us__standard:nth-child(2):before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../img/about-us/post.png);
  background-repeat: no-repeat;
  left: 20px;
}
.about-us-btn {
  display: inline-block;
  background: #274C5B;
  border: 1px solid #274C5B;
  color: #ffffff;
}

.burger {
  display: flex;
  height: 40px;
  width: 40px;
  flex-direction: column;
  z-index: 3;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 1420px) {
  .burger {
    display: none;
  }
}
.burger .bar {
  display: block;
  width: 30px;
  height: 2px;
  margin: 5px auto;
  background-color: #274C5B;
  transition: transform 0.2s ease-in;
}
.burger.active .bar:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}
.burger.active .bar:nth-child(2) {
  opacity: 0;
}
.burger.active .bar:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav__list {
  background-color: #fff;
  display: flex;
  position: fixed;
  flex-direction: column;
  top: -100%;
  right: 0;
  left: 0;
  gap: 20px;
  transition: top 0.4s easy;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #274C5B;
}
.nav__list--active {
  top: 110px;
}
.nav__link {
  display: block;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.36px;
  color: #274C5B;
  text-align: center;
  transition: color 0.4s easy;
}
.nav__link:hover {
  color: #7EB693;
}

@media screen and (min-width: 1420px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 60px;
    position: static;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: unset;
  }
}
.logo {
  display: block;
  max-width: 160px;
  width: 100%;
  height: 45px;
}
@media screen and (min-width: 1420px) {
  .logo {
    max-width: 200px;
  }
}
.logo__icon {
  width: 100%;
  height: 100%;
}

.busket {
  width: 159px;
  height: 70px;
  padding: 7px 11px;
  border: 1px solid #D4D4D4;
  border-radius: 33px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  transition: box-shadow 0.3s;
}
.busket:hover {
  box-shadow: 0 0 20px 2px rgba(39, 76, 91, 0.6);
}
.busket__icon {
  width: 26px;
  height: 24px;
}
.busket__icon-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #274C5B;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.busket__info {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.69;
  letter-spacing: 0.36px;
  color: #274C5B;
}

.header__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1420px) {
  .header__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.hero {
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__container {
  padding-top: 200px;
  padding-bottom: 220px;
}
.hero__title {
  margin-bottom: 14px;
}
.hero__subtitle {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.36px;
  max-width: 309px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1420px) {
  .hero__container {
    padding-top: 220px;
    padding-bottom: 250px;
  }
  .hero__title {
    margin-bottom: 14px;
  }
  .hero__subtitle {
    max-width: 498px;
    font-size: 70px;
  }
}
/*# sourceMappingURL=style.css.map */