@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  box-sizing: border-box;
  font-family: "Open Sans", "Roboto", "Yellowtail", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.36px;
  color: #525C60;
}

.container {
  max-width: 1420px;
  width: 100%;
  padding: 0 20px;
}

.section-title {
  font-family: "Yellowtail";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.8;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
}

.section-subtitle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
}

.btn {
  background: #EFD372;
  border: 1px solid #EFD372;
  border-radius: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  line-height: 1.68;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  padding: 25px 30px;
  position: relative;
}
.btn:after {
  position: absolute;
  content: "";
  width: 38px;
  height: 34px;
  background-image: "../img/arrow.svg";
  background-position: center;
  background-repeat: no-repeat;
}